body {
	background-color:LemonChiffon;
}
h1 {
	color:SlateBlue;
	text-align:center;
	font-family: "Papyrus", fantasy;
}

p {
	font-family: "Garamanond", sans-serif;
}

h2 {
	color: OrangeRed;
    font-family: "Lucida Console", monospace;
}

div.nature, div.dogs {
	width:48%; 
    background-color: white;
    color:Orange;
    display:inline-block;
    margin:1%;
    vertical-align:top;
}


div.container {
  text-align: center;
  margin:10px;
}

.polaroid {
	font-family: "Lucida Handwriting", cursive;
	padding: 10px;
	background-color: #f8f8f8;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
}