body {
	background-color:LemonChiffon;
}
h1 {
	color:SlateBlue;
	text-align:center;
	font-family: "Papyrus", fantasy;
}

p {
	font-family: "Garamanond", sans-serif;
}

h2 {
	color: OrangeRed;
    font-family: "Lucida Console", monospace;
}

div.nature {
	width:50%; 
    background-color: white;
    float:left;
    margin: 10px; 
  	padding: 10px;
    color:Orange;
}

div.dogs {
	width:50%; 
    background-color: white;
	float:left;
    margin: 10px; 
    padding: 10px;
    color:Orange;
}

div.container {
  text-align: center;
  margin:10px;
}

.polaroid {
	font-family: "Lucida Handwriting", cursive;
}